.navbar 
{
  padding : 1rem;
  background-color: antiquewhite;
  font-size: 30px;
}

.navbar-title
{
  margin-right: 1rem;
}

.navbar-count
{
  display : inline-block;
  padding : 0.2rem;
  border: 0.5px solid black;
  border-radius: 30%;
  background-color: brown;

}

/* habit */

.habit
{
  font-size: 2.5rem;
  padding: 0.5rem;
  list-style: none;
}

.habit-name
{
  margin-right : 2rem;
}

.habit-count
{
  margin-right: 2rem;
}

.habit-button
{ font-size: 2.5rem;
  margin: 0 0.3rem;
  background-color: transparent;
  

}

.button-plus
{
  margin-right: 1px;
}

.habit-button:hover
{
  opacity: 0.5;
}

